
.button_search {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    svg {
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }


.input_search {
  width: 100%;
  padding: 4px 8px;
  border: none;

  font-size: 14px;
  font-weight: 400;
  &::placeholder {
    color: #999;
  }
}
